# المحتوى الذي تم إنشاؤه أثناء التطوير والبناء
.packages
pubspec.lock  # يُنصح برفعه للمشاريع التطبيقية Applications (وليس للمكتبات) لضمان اتساق الإصدارات[reference:10]
build/

# ملفات خاصة بـ Flutter
.flutter-plugins

# ملفات بيئة التطوير الخاصة
.env*

# ملفات المحررات (مثل VS Code, Android Studio)
.vscode/

# ملفات النظام
Thumbs.db
# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
/coverage/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release
my-party-bf6e0-firebase-adminsdk-fbsvc-9de1056702.json
my-party-bf6e0-774d4760ac11.json
backend/config/serviceAccountKey.json
backend/node_modules/*
backend/node_modules
lib_old/
lib_old_backend/
sample_reports/
